@model Pharma.ViewModels.PageOrderInfor

@{
    ViewData["Title"] = "Orders";
}

<div class="account">

    <div class="container">

        <div class="row mx-0">

            <div class="col-3">

                @await Component.InvokeAsync("MenuInforComponent")

            </div>


            <div class="col-9 orders_account">

                <h4>ĐƠN HÀNG CỦA BẠN</h4>

                <table class="table">

                    <tr class="tilte_table_order">
                        <th>Đơn hàng</th>
                        <th>Ngày</th>
                        <th>Địa chỉ</th>
                        <th width="15%">Giá trị đơn hàng</th>
                        <th width="15%">TT thanh toán</th>
                        <th width="15%">TT vận chuyển</th>
                    </tr>

                    @if(Model.Orders.Count > 0){

                        @foreach(var x in Model.Orders){

                           <tr class="list_order_table_order">
                        <td><a asp-action="OrderDetail" asp-route-id="@x.Order.OrderId">#@x.Order.OrderId</a></td>
                        <td>@x.Order.OrderDate.ToString("d")</td>
                        <td>@x.Order.Address, @x.City.Name, @x.District.Name, @x.Ward.Name</td>
                        <td>@x.Order.Total.ToString("N0") đ</td>
                        <td>
                            @if(x.Order.Thanhtoan){
                                <span>Đã thanh toán</span>
                            }else{
                                <span>Chưa thanh toán</span>
                            }
                        </td>
                        <td>
                            @if(x.Order.State == 0){
                                <span>Đã hủy</span>
                            }else if(x.Order.State == 1){
                                <span>Đơn mới</span>
                            }else if(x.Order.State == 2){
                                <span>Đang sử lí</span>
                            }else if(x.Order.State == 3){
                                <span>Đang giao</span>
                            }else if(x.Order.State == 4){
                                <span>Đã giao</span>
                            }
                        </td>
                    </tr>

                    }

                    }else{
                        <tr><td colspan="10" class="text-center text-danger">Chưa có đơn hàng nào</td></tr>
                    }



                </table>

            </div>

        </div>

    </div>


</div>